.currReadCards {
    transition: all 0.3s ease;
}

.currReadCards:hover {
    transform: translateY(-10px) !important;
    box-shadow: 0 20px 40px rgba(0,0,0,0.6) !important;
}

.currReadCards > div > img:hover {
    transition: all 0.4s ease;
    transform: scale(1.05);
}